.prod {
  min-height: 350px;
  text-align: center;
}
.prod:hover {
  border: 1px rgb(46, 46, 46) solid;
  transform: scale(1.05);
  transition: transform ease-in 150ms;
}
.prod .card-content {
  height: 150px;
}

.navbar {
  border-bottom: 2px solid rgb(5, 160, 212);
}

.navbar-item h1 {
  font-size: 1.4rem;
  font-weight: 800;
  color: rgb(5, 160, 212) !important;
}

.navbar-item h1 span {
  color: white;
  border-radius: 50px;
  background-color: rgb(5, 160, 212);
  padding: 5px;
  font-size: 1.3rem;
  margin-right: 7px;
}
